<div style="max-width: 80vw; min-width: 50vw; max-height: 38vw;">
  <div class="row" style="margin-left: 1%">
    <mat-card-title>{{bookDetails.bookTitle}}</mat-card-title>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-card style="margin-bottom: 20px">
        <img *ngIf="!isImageLoading"
             mat-card-image
             [src]="domSanitizer.bypassSecurityTrustUrl(imageToShow)"
             style="margin-bottom: 5%">
        <mat-card-content style="text-align: center">
          <p>
            {{bookDetails.bookTitle}}.jpg
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <h6><b>{{'Book_Details.Author' | translate}}</b></h6>
      <p>
        {{bookDetails.author}}
      </p>
      <h6><b>{{'Book_Details.Published_Date' | translate}}</b></h6>
      <p>
        {{bookDetails.publishedDate}}
      </p>
      <h6><b>{{'Book_Details.Category' | translate}}</b></h6>
      <p>
        {{bookDetails.category}}
      </p>
      <h6><b>{{'Book_Details.Publisher' | translate}}</b></h6>
      <p>
        {{bookDetails.publisher}}
      </p>
      <h6><b>{{'Book_Details.Description' | translate}}</b></h6>
      <p>
        {{bookDetails.description}}
      </p>
      <hr style="border: 1px solid rgba(128,170,191,0.76)">
      <h6><b>{{'Book_Details.Last_Taken' | translate}}</b></h6>
      <p>
        {{bookDetails.lastTakenDate}}
      </p>
      <h6><b>{{'Book_Details.Taken_By' | translate}}</b></h6>
      <p>
        {{bookDetails.lastTakenPerson}}
      </p>
    </div>
  </div>
</div>
