.mat-data-table{
  width: 95%;
  margin: 20px auto;
  padding-bottom: 50px;
}

.mat-field-allign{
  width: 96%;
  margin-left: 1%;
}

.mat-table-allignment{
  width: 96%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.column-text-align{
  text-align: center;
}
